:root {
    --lilas-principal:#cb91e5;
    --lilas-secundario: #ac6ac7;    
    --botao-lilas: #935bb1;
    --cor-de-fundo: #d6acec;

}
.menu {
    background: var(--cor-de-fundo)
}

*{
margin: 0;
padding: 0;
}
    
